<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#unless user}}
<a href="/signup">Signup</a>
<a href="/login">Login</a>
{{else}}
<h2><a href="/main">Main</a></h2>
<h2><a href="/private">Private</a></h2>
<a href="/logout">Logout</a>
{{/unless}} 
