<h1>Welcome to the private page</h1>
<a href="/">Home</a>
<iframe src="https://media1.giphy.com/media/Cmr1OMJ2FN0B2/giphy.gif" width="480" height="480" frameBorder="0" class="giphy-embed"
  allowFullScreen></iframe> 